.item_create {
    width: 50%;
    border-left: 1px solid black;
}

.input_create {
    margin-bottom: 15px;
    background-color: black;
    color: grey;
    border: none;
    display: block;
    width: 100px;
}

button {
    display: block;
    margin: auto;
}

.input_box {
    width: 200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}