.item_create {
    width: 50%;
    border-left: 1px solid black;
}

.input_create {
    margin: auto;
    margin-bottom: 15px;
    background-color: black;
    color: grey;
    border: none;
    display: block;
}

button {
    display: block;
    margin: auto;
}